@media (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .logo img {
        height: 70px;
        width: auto;
        padding: auto;
    }
    .links-nav {
        margin: 10px;
        text-align: center;
    }
    .links-nav a {
        font-size: smaller;
        margin: 0px;
    }
    .exampleImg {
        border-radius: 10px;
        background-position: center center;
        background-size: cover;
    }
    .exampleImg p {
        width: 250px;
        height: min-content;
        font-size: smaller;
    }
    .description {
        display: flex;
        flex-direction: column;
    }
    #Card {
        width: auto;
        padding: auto;
        margin: 10px;
        font-size: smaller;
    }
    .map-des {
        width: auto;
        text-align: center;
    }
    .localization {
        width: auto;
    }
    .contacts ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .contacts a {
        padding: 10px;
        margin: 0px;
        font-size: medium;
    }
    .dev-tools p {
        font-size: smaller;
    }
}